* {
    margin: 10px 20px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    display: flex;
}

#input {
    border: 1px solid black;
    border-radius: 5px;
    height: max-content;
    padding: 10px;
}